# donot remove these lines please
*.dist
*.vscode
Project Backups
/Smart-National-Park-C-Code/.vs
/Smart-National-Park-C-Code/course work/Debug
/Course work.pdsprj.DESKTOP-CKD3EVQ.RASHID.workspace
/Course work.pdsprj.EMMA.EMMA.workspace
/Smart-National-Park-Proteous.pdsprj.EMMA.EMMA.workspace
/Backup Of Smart-National-Park-Proteous.pdsbak
/Course work.pdsprj.DESKTOP-Q9BE6EL.Gum Priscilla.workspace